html, body {
    // font-family: 'Open Sana', sans-serif;
    font-family: 'Raleway', sans-serif;    
    color: #423D3F;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.75);
}

h1 {
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1.5px;
}

p {
    line-height: 1.6;
    margin: 20px 0;
}

a {
    color: #d147a3;
    text-decoration: underline;

    &:hover, &:active, &:focus {
        color: darken( #d147a3, 15%);

    }
}
