.dark-content {
    color: white;

    h1, h2, h3, h4, h5, h6, p {
        color: white;
    }
}


.img-circle {
    border-radius: 50%;
}

.bg-primary {
    background: linear-gradient(105.63deg,  #c92c94 -21.04%, #2b9dd1 147.44%);
}